/* 1 - Posicione o Mário acima do Goomba. */
/* 2 - Posicione a tag p para que fique dentro do balão de fala.
 */
 /* 3 - Posicione o balão para que se torne uma fala de Bowser. */

.super-mario {
    width: 200px; 
    position: absolute;
    top: 51px;
    left: 1px;
  }
  
  .goomba {
    
    width: 100px;
    position: absolute;
    top: 308px;
    left: 117px;
    z-index: 1;
   
  }
  
  .baloon {
    position: absolute;
    top: 90px;
    left: 200px;
    z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 130px;
    right: 185px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position:absolute;
    top: 282px;
    left: 430px;
    z-index: 4;
    

  }